[workspace]
description = "Simple HTTP/1.1 Client with TLS support."
authors = ["Mikhail Tavarez <miktavarez@gmail.com>"]
channels = [
    "https://repo.prefix.dev/modular-community",
    "https://repo.prefix.dev/mojo-community",
    "conda-forge",
    "https://conda.modular.com/max",
    "https://prefix.dev/pixi-build-backends",
]
platforms = ["osx-arm64", "linux-64", "linux-aarch64"]
license = "MIT"
license-file = "LICENSE"
readme = "README.md"
homepage = "https://github.com/thatstoasty/floki"
repository = "https://github.com/thatstoasty/floki"
preview = ["pixi-build"]

[feature.util.tasks]
tests = "mojo scripts/util.mojo tests"
benchmarks = "mojo scripts/util.mojo benchmarks"
examples = "mojo scripts/util.mojo examples"

# Linting and Formatting
lint_docs = "python3 scripts/check-docstrings.py"
mojo_format = "mojo format floki --line-length 120"
sort_imports = "isort **/*.mojo -m 3 --line-length 120 --lines-after-imports 2 --trailing-comma"
format = [{ task = "mojo_format" }, { task = "sort_imports" }]

# Build and publish
build = { cmd = "pixi build -o ." }
publish = { cmd = "find . -name 'floki-*.conda' | xargs pixi upload https://prefix.dev/api/v1/upload/mojo-community" }
build_and_publish = [{ task = "build" }, { task = "publish" }]

[package]
name = "floki"
version = "25.7.2"

[package.build]
backend = { name = "pixi-build-mojo", version = "0.*", channel = "https://prefix.dev/pixi-build-backends" }

[dependencies]
mojo = ">=0.25.7.0,<0.26.1.0"
emberjson = "=0.2.1"
mojo-curl =  ">=25.7.1,<26.1.0"
curl_wrapper = { git = "https://github.com/thatstoasty/mojo-curl.git", subdirectory = "shim", branch = "main" }
# small_time = { path = "../small-time" }

[package.build-dependencies]
mojo-compiler = ">=0.25.7.0,<0.26.1.0"
emberjson = "=0.2.1"
mojo-curl =  ">=25.7.0,<26.1.0"
curl_wrapper = { git = "https://github.com/thatstoasty/mojo-curl.git", subdirectory = "shim", branch = "main" }

[package.host-dependencies]
mojo-compiler = ">=0.25.7.0,<0.26.1.0"

[package.run-dependencies]
mojo-compiler = ">=0.25.7.0,<0.26.1.0"
emberjson = "=0.2.1"
mojo-curl =  ">=25.7.0,<26.1.0"
curl_wrapper = { git = "https://github.com/thatstoasty/mojo-curl.git", subdirectory = "shim", branch = "main" }

[feature.util.dependencies]
typer = ">=0.16.0,<0.17"
pyyaml = ">=6.0.2,<7"

[environments]
default = { solve-group = "default" }
util = { features = ["util"], solve-group = "default" }
