[workspace]
description = "Requests like HTTP client leveraging libcurl under the hood."
authors = ["Mikhail Tavarez <miktavarez@gmail.com>"]
channels = [
    "https://repo.prefix.dev/mojo-community",
    "https://repo.prefix.dev/modular-community",
    "conda-forge",
    "https://conda.modular.com/max",
    "https://prefix.dev/pixi-build-backends",
]
platforms = ["osx-arm64", "linux-64", "linux-aarch64"]
license = "MIT"
license-file = "LICENSE"
readme = "README.md"
homepage = "https://github.com/thatstoasty/floki"
repository = "https://github.com/thatstoasty/floki"
preview = ["pixi-build"]

[feature.util.tasks]
tests = "sh -c 'find test -name \"test_*.mojo\" -exec mojo -D ASSERT=all -I . {} \\;'"
examples = "sh -c 'find examples -name \"*.mojo\" -exec mojo -D ASSERT=all -I . {} \\;'"

# Linting and Formatting
lint_docs = "mojo doc --Werror --diagnose-missing-doc-strings -o /dev/null ./floki"
mojo_format = "mojo format floki --line-length 120"
sort_imports = "isort **/*.mojo -m 3 --line-length 120 --lines-after-imports 2 --trailing-comma"
format = [{ task = "mojo_format" }, { task = "sort_imports" }]

# Build and publish
build = { cmd = "pixi build -o ." }
publish = { cmd = "find . -name 'floki-*.conda' | xargs pixi upload https://prefix.dev/api/v1/upload/mojo-community" }
build_and_publish = [{ task = "build" }, { task = "publish" }]
api_server = "fastapi run utils/test_server.py"

[package]
name = "floki"
version = "0.1.0"

[package.build]
backend = { name = "pixi-build-mojo", version = "0.*", channel = "https://prefix.dev/pixi-build-backends" }

[dependencies]
mojo = ">=0.26.1.0,<0.26.2.0"
emberjson = "=0.3.0"
mojo-curl =  "=0.1.0"
curl_wrapper = { git = "https://github.com/thatstoasty/mojo-curl.git", subdirectory = "shim", branch = "main" }
small_time = ">=26.1.0,<26.2.0"

[package.build-dependencies]
mojo-compiler = ">=0.26.1.0,<0.26.2.0"
emberjson = "=0.3.0"
mojo-curl =  "=0.1.0"
curl_wrapper = { git = "https://github.com/thatstoasty/mojo-curl.git", subdirectory = "shim", branch = "main" }
small_time = ">=26.1.0,<26.2.0"

[package.host-dependencies]
mojo-compiler = ">=0.26.1.0,<0.26.2.0"

[package.run-dependencies]
mojo-compiler = ">=0.26.1.0,<0.26.2.0"
emberjson = "=0.3.0"
mojo-curl =  "=0.1.0"
curl_wrapper = { git = "https://github.com/thatstoasty/mojo-curl.git", subdirectory = "shim", branch = "main" }
small_time = ">=26.1.0,<26.2.0"

[feature.util.dependencies]
isort = ">=6.0.1,<7"
fastapi = ">=0.105.0,<0.106"

[environments]
default = { solve-group = "default" }
util = { features = ["util"], solve-group = "default" }
